.nav_element
{
font-size:12px;
color:var(--alloyOrange);
margin-left:2%;
margin-right:2%;
}

.navbar
{
display:block;
margin:0px;
padding:0px;
border-bottom:1px solid var(--alloyOrange);
}

.app_name
{
font-size:32px;
color:var(--alloyOrange);
}

.app_description
{
font-size:16px;
color:var(--limeGreen);
}

.nav_branding
{
width:30%;
text-align:center;
padding:0px;
}

.links_div
{
width:35%;
display:flex;
justify-content:space-around;
}

.nav_branding div
{
margin:0px;
padding:0px;
}

.nav_container
{
display:flex;
justify-content:center;
align-items:center;
}