:root
{
--alloyOrange:#BF5D03;
--limeGreen:#10C400;
--vanilla:#EBEBB3;
}

body
{
margin:0px;
padding:0px;
background-color:var(--vanilla);
}

a
{
text-decoration:none;
}
div
{
margin:0px;
padding:10px;
}

.large_font
{
font-size:42px;
}

.medium_font
{
font-size:32px;
}

.normal_font
{
font-size:22px;
}

.small_font
{
font-size:12px;
}

form button
{
width:150px;
height:30px;
font-size:20px;

}


span.clickable_element:hover
{
cursor:pointer;
}




