:root
{
--alloyOrange:#BF5D03;
--limeGreen:#10C400;
}

body
{
margin:0px;
padding:0px;
}

a
{
text-decoration:none;
}
div
{
margin:0px;
padding:10px;
}

.large_font
{
font-size:48px;
}

.medium_font
{
font-size:36px;
}

.normal_text
{
font-size:24px;
}




