.page_container
{
display:flex;
}


.nutrient_total_info div
{
min-width:200px;
}

.ad_space
{
width:250px;
background-color:red;
}

.page_content
{
width:65%;
/* background-color:blue; */
}

.card
{
padding:10px;
border:1px solid var(--alloyOrange);
margin-top:5px;
margin-bottom:5px;
border-radius:5px;
}

.nutrient_total_card
{
text-align:center;
display:flex;
flex-direction:row;
justify-content:center;
}

.current_ingredients_card
{
text-align:center;
}

.add_ingredient_card
{
text-align:center;
}

.search_form
{
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}

.search_input
{
border-radius:10px;
width:50%;
height:25px;
border:1px solid black;
font-size:16px;
text-align:center;
}

.search_result
{
display:flex;
font-size:18px;
justify-content:center;
align-items:center;

}

.add_search_result
{
font-size:24px;
text-align:center;
padding:0px;
width:24px;
height:24px;
line-height:24px;
background-color:var(--limeGreen);
font-weight:bold;
color:white;
border-radius:50%;
text-align:center;
}

.add_search_result:hover
{
color:var(--limeGreen);
background-color:white;
}

.search_result_name
{

}

.search_results_cont
{
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
}

.change_nutrient_dropdown
{
width:150px;
/* background-color:purple; */
}

.nutrient_total_info
{
margin-left:150px;
/* background-color:orange; */
}

.select_nutrient_type
{
height:30px;
border:2px solid black;
background-color:var(--vanilla);
font-weight:bold;
border-radius:5px;
}

.select_nutrient_type option
{
background-color:white;
}

.single_ingredient
{
display:flex;
align-items:center;
justify-content:space-between;
font-size:18px;
min-width:40%;
margin:10px;
padding:10px;
}

.single_ingredient input{
width:100px;
border-radius:5px;
border:1px solid black;
width:40px;
height:20px;


}

.single_ingredient select
{
background-color: var(--vanilla);
border-radius:5px;
height:20px;
}

.single_ingredient button
{
    font-size:16px;
    text-align:center;
    padding:0px;
    width:24px;
    height:24px;
    line-height:22px;
    background-color:red;
    font-weight:bold;
    color:white;
    border-radius:50%;
    text-align:center;
    border:0px;
}

.single_ingredient button:hover
{
  background-color:white;
  color:red;
  border:1px solid black;
}


hr.single_ingredient_hr{
background-color:var(--alloyOrange);
height:1px;
border:0px;
}


.change_nutrient_measurements
{
display:flex;
min-width:170px;
justify-content:space-around;
}


@media only  screen and (max-width:1000px)
{
  .nutrient_total_card
  {
  flex-direction:column;
  justify-content:center;
  align-items:center;
  }

  .nutrient_total_info
  {
  margin-left:0px;
  }
}

@media only screen and (max-width:800px)
{
  .page_container
  {
  flex-direction:column;
  align-items:center;
  }

  .ad_space
  {
  width:80%;
  height:300px;
  }
  .page_content
  {
  width:80%;
  }
}

@media only screen and (max-width:560px)
{
.single_ingredient
{
flex-direction:column;
border:2px solid black;
border-radius:10px;
}
}

@media only screen and (max-width:475px)
{
  .search_input::placeholder
  {
  font-size:12px;
  }
}


/* @media only screen and (max-width:730px)
{

.nutrient_total_info
{
margin-left:0px;
}

.nutrient_total_card
{
flex-direction:column;
justify-content:center;
align-items:center;
}

} */