.page_container
{
display:flex;
}

.ad_space
{
width:15%;
background-color:red;
}

.page_content
{
width:70%;
background-color:blue;
}

.card
{
padding:10px;
border:1px solid var(--alloyOrange);
margin-top:5px;
margin-bottom:5px;
border-radius:5px;
}

.nutrient_total_card
{
text-align:center;
}

.current_ingredients_card
{
text-align:center;
}

.add_ingredient_card
{
text-align:center;
}

.search_form
{
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}

.search_form input
{

}
